@import url("fonts.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Circular';
}






:root {
    --pirimarycolor: #56597A;
    --secondarycolor: #F78CB6;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    position: relative;
    overflow: hidden;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}



.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 129px;
}

.logo {
    color: var(--secondarycolor);
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.6px;
    transition: 0.3s;
    z-index: 1;
}

.logo:hover {
    color: var(--pirimarycolor);
}

.nav__list {
    display: flex;
    background: none;
    gap: 73px;
    z-index: 1;
}

.nav__item {
    padding: 58px 0;
}

.nav__link {
    color: #AAAAAB;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    transition: 0.3s;
}

.nav__link:hover,
.nav__link.active {
    color: var(--pirimarycolor);
}


.nav__menu {
    width: 25px;
    height: 2px;
    background: var(--pirimarycolor);
    display: none;
}

.nav__menu::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--pirimarycolor);
    top: 8px;
    left: 0;
    transition: 0.5s;
}

.nav__menu::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 8px;
    left: 0;
    transition: 0.5s;
    background: var(--pirimarycolor);
}





.header__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 139px;

}

.header__info-link img {
    width: 36px;
    height: 3px;
    padding-right: 7px;
}

.header__info-link {
    color: var(--secondarycolor);
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    position: relative;
    z-index: 1;
}

.header__info-title {
    max-width: 599px;
    width: 100%;
    color: var(--pirimarycolor);
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    margin: 29px 0 31px 0;
    position: relative;
    z-index: 1;
}

.header__info-text {
    color: #919299;
    max-width: 537px;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.4px;
    margin-bottom: 42px;
    position: relative;
    z-index: 1;
}

.btn {
    border-radius: 4px;
    padding: 18px 0 18px 22px;
    background: var(--secondarycolor);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #FFF;
    border: none;
    cursor: pointer;
    position: relative;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}



.header__info-button {

    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.4px;
}

.arrow {
    background: none;
    padding-left: 19px;
    padding-right: 37px;
}

.arrow-span {
    position: absolute;
    border-radius: 2px;
    border: 2.5px solid #FFF;
    background: rgba(255, 193, 218, 0.28);
    width: 32px;
    height: 32px;
    top: 24%;
    left: 76%;
}

.header__img {
    background: none;
    padding-right: 60px;
}

.header__bg {
    position: absolute;
    background: none;
    top: -4%;
    right: -5%;
    z-index: -1;
}


.services {
    display: flex;
    flex-direction: column;
    position: relative;
}

.services__bg {
    position: absolute;
    top: -36%;
    left: 0;
}

.services__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 240px;
    
}



.services__link {
    color: var(--secondarycolor);
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 6px;
}

.services__title {
    color: var(--pirimarycolor);
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    line-height: 72px;
    margin-bottom: 58px;
}

.services__cards {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    
}

.services__cards-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 270px;
    width: 100%;
    border-radius: 8px;
    background: #FFF1F9;
    cursor: pointer;
    transition: 2s;
    transform: translate3d(-200px, 0, 0);
    opacity: 0;
}

.services__cards-card.active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}



.services__cards-card:hover {
    transform: scale(1.2);
    border-radius: 8px;
    background: #F78CB6;
    flex-shrink: 0;
    
}




.services__cards-card_icon {
    margin-top: 53px;
    margin-bottom: 38px;
}

.services__cards-card_icon path {
    fill: var(--secondarycolor);
    stroke: var(--secondarycolor);
    transition: 0.5s;
}


.services__cards-card_title {
    color: var(--pirimarycolor);
    font-size: 34px;
    font-weight: 500;
    line-height: 72px;
    transition: 0.5s;
}

.services__cards-card_text {
    color: #919299;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 23px 23px 23px;
    transition: 0.5s;
}

.services__cards-card_btn {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    gap: 8px;
    color: var(--pirimarycolor);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.5s;
}



.cards-btn_icon path {
    fill: var(--pirimarycolor);
    transition: 0.5s;
}




.services__cards-card:hover .cards-btn_icon path {
    fill: #fff;
}

.services__cards-card:hover .services__cards-card_icon path {
    fill: #fff;
    stroke: #fff;
}

.services__cards-card:hover .services__cards-card-title,
.services__cards-card:hover .services__cards-card-text,
.services__cards-card:hover .services__cards-card-btn {
    color: #fff;
}

.things {
    margin-bottom: 194px;
    position: relative;
}

.things__content {
    display: flex;
    gap: 79px;

}


.things__info-link {

    color: var(--secondarycolor);
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
}

.things__info-title {
    color: var(--pirimarycolor);
    padding: 15px 0 24px 0;
    font-size: 52px;
    font-weight: 700;
    line-height: 62px;
}

.things__info-text {
    color: #919299;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 40px;
}

.things__info-button {
    display: flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.4px;
}


.arrow2,
.arrow3,
.arrow4 {
    background: none;
    padding-left: 19px;
    padding-right: 37px;
}

.arrow-span2,
.arrow-span3,
.arrow-span4 {
    position: absolute;
    border-radius: 2px;
    border: 2.5px solid #FFF;
    background: rgba(255, 193, 218, 0.28);
    width: 32px;
    height: 32px;
    top: 26%;
    left: 76%;
}


.things__bg {
    position: absolute;
    right: 0;
    bottom: -55%;
}

.things__img {
    transition: 1.5s;
    opacity: 0;
}

.things__img.active {
    transform: rotate3d(1, 1, 1, 360deg);
    opacity: 1;
}

.things__info {
    opacity: 0;
    transition: 1.5s;
}

.things__info.active {
    transform: rotate3d(1, 1, 1, 360deg);
    opacity: 1;
}

.teamwork {
    margin-bottom: 194px;
    position: relative;
}

.teamwork__info-button {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.teamwork__content {
    display: flex;
    justify-content: space-between;
    gap: 79px;

}

.teamwork__info-link {
    color: #F78CB6;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
}

.teamwork__info-title {
    color: var(--pirimarycolor);
    padding: 15px 0 24px 0;
    max-width: 488px;
    width: 100%;
    font-size: 52px;
    font-weight: 700;
    line-height: 62px;
}

.teamwork__info-text {
    max-width: 500px;
    width: 100%;
    color: #919299;
    font-size: 19px;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 54px;
}



.teamwork__info {
    transform: scale(0);
    opacity: 0;
    transition: 1.5s;

}

.teamwork__img {
    transform: scale(0);
    opacity: 0;
    transition: 1.5s;
}

.teamwork__info.active {
    transform: scale(1);
    opacity: 1;
}

.teamwork__img.active {
    transform: scale(1);
    opacity: 1;
}

.about {
    position: relative;
}

.about__content {
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 180px;
}

.about__info {
    transform: translateY(50%);
    opacity: 0;
    transition: 1.5s;
}

.about__img {
    transform: translateY(-50%);
    opacity: 0;
    transition: 1.5s;
}

.about__info.active {
    transform: translateY(0);
    opacity: 1;
}

.about__img.active {
    transform: translateY(0);
    opacity: 1;
}


.about__info-link {
    color: var(--secondarycolor);
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
}

.about__info-title {
    max-width: 506px;
    width: 100%;
    padding: 15px 0 38px 0;
    color: var(--pirimarycolor);
    font-size: 52px;
    font-weight: 700;
    line-height: 62px;
}

.about__info-text {
    max-width: 450px;
    width: 100%;
    color: #919299;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 23px;
}

.about__info-title2 {
    color: var(--pirimarycolor);
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 5px;
}

.about__info-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-slider_btn {
    display: flex;
    border: none;
    background: transparent;
    gap: 10px;
}

.arrow-btn {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.arrow-btn:hover {
    transform: scale(1.2);
}

.arrow-btn:hover path {
    fill: var(--secondarycolor);
}


.arrow-btn path {
    fill: var(--pirimarycolor);
}

.info-slider_text {
    color: #ABABAB;
    font-size: 16px;
    line-height: 32px;
}

.about__bg {
    position: absolute;
    top: -50%;
    left: 0;
    z-index: -1;
}


.brands__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 156px;
    transition: 1s;
    flex-wrap: wrap;
    gap: 10px;
}

.brands__card {
    cursor: pointer;
    transition: 2s;
    transform: translate3d(-200px, 0, 0);
    opacity: 0;
    
}

.brands__card.active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 2s;

}
/* 
.brand {
    cursor: pointer;
    transition: 0.3s;
} */

.brand:hover {
    transform: scale(1.3);
}

.subscribe {
    position: relative;
    margin-bottom: 230px;
}

.subscribe__content {
    max-width: 1040px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 33px;
    
}

.subscribe__img {
    z-index: -1;
    top: 0;
    left: 0;
}

.subscribe__blog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe__blog-title {
    color: var(--pirimarycolor);
    font-size: 52px;
    font-weight: 700;
    line-height: 72px;
    margin-bottom: 18px;
}


.subscribe__blog-text {
    width: 635px;
    height: 87px;
    text-align: center;
    color: #919299;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 15px;

}

.subscribe__blog-form {
    max-width: 706px;
    width: 100%;
    height: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    background: #FFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.input {
    padding: 28px 0 22px 60px;
    display: flex;
    align-items: center;
    gap: 14px;

}

::placeholder {
    color: #D2D2D2;
    text-align: center;
    font-weight: 400;
    line-height: 22px;
}

.subscribe__blog-input {
    font-size: 20px;

    border: none;
}

.subscribe__blog-icon path {
    fill: #D2D2D2;
}

.subscribe__blog-btn {
    display: flex;
    align-items: center;
    margin-right: 13px;
    color: #FFF;
    font-size: 20px;
    font-weight: 450;
}

.arrow-span4 {
    top: 23%;
    left: 71%;
}

.subscribe__bg {
    position: absolute;
    right: 0;
    bottom: -25%;
    z-index: -1;
}

.footer {
    position: relative;
    overflow: hidden;
}

.footer__img {
    position: absolute;
    z-index: -2;
    width: 100%;
    bottom: -30px;
}

.footer__img-outline {
    position: absolute;
    z-index: -1;
    width: 100%;
}

.footer__content {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}


.footer__content-items {
    display: flex;
    justify-content: space-around;
    margin-bottom: 64px;
}

.footer__content-img {
    margin-bottom: 30px;
}



.footer__items-text {
    color: #919299;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 38px;

}

.footer__items-text:nth-of-type(1) {
    margin: 0;
}


.footer__items-info_title {
    color: #919299;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 16px;
}

.footer__items-info_icons {
    display: flex;
    gap: 11px;
}

.footer__items-info_icon {
    border-radius: 50%;
    padding: 13px 13px 4px 13px;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.3s;
}

.footer__items-info_icon:hover {
    transform: scale(1.2);
}

.icons path {
    transition: 0.3s;
}

.footer__items-info_icon:hover .icons path {
    fill: #F78CB6;
}


.icons path {
    fill: #A7A7A7;
}

.footer__content-list-title {
    color: #56597A;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 37px;
}

.footer__content-link {
    color: #919299;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    transition: 0.3s;
}

.footer__content-link:hover {
    color: var(--pirimarycolor);
}

.footer__content-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer__bottom {

    background: #F78CB6;
    width: 100%;
}

.footer__bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__bottom-info {
    display: flex;
    align-items: center;
    gap: 6px;
}

.footer__bottom-info_text {
    color: #FFF;
    font-size: 14px;
    font-weight: 450;
    line-height: 30px;
    padding: 12px 0;
}

.footer__bottom-icons {
    display: flex;
    align-items: center;
    gap: 13px;
    cursor: pointer;
}

.footer__bottom-lang {
    color: #fff;
}